<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sist.board">
<!-- 게시글의 총 수 
int selectTotalCount(SearchVO sVO)
-->
<select id="selectTotalCount" resultType="int" parameterType="searchVO">
	select count(*) cnt from board
	<where>
		<if test="keyword neq null and keyword neq ''">
			<choose>
				<when test="field eq 0">
					title
				</when>
				<when test="field eq 1">
					content
				</when>
				<otherwise>
					id
				</otherwise>
			</choose>
			like '%'||#{keyword}||'%'
		</if>
	</where>					
</select>

<!-- 게시글목록 
List<BoardDomain> selectBoard(SearchVO sVO) throws SQLException 
-->
<select id="selectBoardList" resultType="boardDomain" parameterType="searchVO">
	select NUM, TITLE, ID, CNT, rnum, input_date 
	from (select NUM, TITLE, ID, CNT, input_date, 
		  row_number() over(order by input_date desc) rnum 
		  from board
		<where>
		<if test="keyword neq null and keyword neq ''">
		instr(
			<choose>
			<when test="field eq 0">
				title
			</when>
			<when test="field eq 1">
				content
			</when>
			<otherwise>
				id
			</otherwise>
			</choose>
		 ,#{keyword} ) > 0
		</if>
		</where>
	
	) where rnum between #{startNum} and #{endNum}
	</select>
<!-- 추가 
void insertBoard-->
<insert id="insertBoard" parameterType="boardVO">
insert into board(NUM, TITLE, content, id, CNT) 
values(seq_board.nextval,#{title},#{content},#{id},#{cnt}) 
</insert>
<!-- 상세보기 
BoardDomain selectDetailBoard(int seq)
-->
<select id="selectDetailBoard" resultType="boardDomain" parameterType="int">
select TITLE, ID, content, CNT, input_date 
		 from board 
		 where num=#{num}
</select>
<!-- 조회수 cnt 누적 
int updateCnt(int num)
-->
<update id="updateCnt" parameterType="int" >
update board set cnt= cnt+1
where num=#{num}
</update>
<!-- 변경 
updateBoard(BoardVO bVO)
-->
<update id="updateBoard" parameterType="boardVO">
update board 
set title=#{title}, content=#{content}, cnt=#{cnt} 
where num=#{num} and id=#{id}
</update>
<!-- 삭제 
deleteBoard(BoardVO bVO)
-->
<delete id="deleteBoard" parameterType="boardVO">
delete board 
 where num=#{num} and id=#{id}
</delete>
</mapper>