<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sist.exam">
	<insert id="insertCpEmp" parameterType="kr.co.sist.vo.CpEmpVO">
		insert into cp_emp(empno, ename, hiredate, sal, comm, job, deptno)
		values(#{empno},#{ename},sysdate,#{sal},#{comm},#{job},#{deptno})	<!-- 바인드변수 -->
	</insert>
</mapper>